fastapi
uvicorn
pydantic[email]
python-dotenv
openai
tiktoken
python-docx
pypdf

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# Email
fastapi-mail
