body {
  margin: 0;
}

header {
  background-color: #2D7FF9;
}

.drag-drop {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: #767676;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.document-uploader {
  border: 2px dashed #767676;
  background-color: #f4fbff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.file-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.file-info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.file-actions {
  cursor: pointer;
}

.file-actions:hover {
  svg {
    color: #d44;
  }
}

.success-file {
  display: flex;
  align-items: center;
  color: #6dc24b;
}

.success-file p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.file-list__container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}